<footer class="footer">
  <div class="container">
    <div class="center-horizontally-container">
      <img class="footer-logo" src="/images/collateral-logo-white.png" alt="Collateral logo">
    </div>
    <div class="center-horizontally-container">
      <p class="vat-number">VAT-number/Y-tunnus: 3015243-5</p>
    </div>
    <div>
      <div class="center-horizontally-container">
        <span class="media-link-container">
          <a href="https://www.linkedin.com/company/20144111" class="media-link" aria-label="Got to LinkedIn page">
            <img src="/images/linkedin.svg" class="icon" aria-hidden="true">
          </a>
          <a href="https://www.facebook.com/collisoy/" class="media-link" aria-label="Got to Facebook page">
            <img src="/images/facebook-square.svg" class="icon" aria-hidden="true">
          </a>
        </span>
      </div>
      <p class="cookies">This site uses cookies for UX research purposes.
        <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies" class="cookie-link">More information</a>
      </p>
      <p class="copyright">© 2019 Collateral Oy. All rights reserved.</p>
    </div>
  </div>
</footer>
