<footer class="footer">
  <div class="container">
    <div class="center-horizontally-container">
      <img class="footer-logo" src="/images/collateral-logo-white.png" alt="Collateral logo.">
    </div>
    <div>
      <p class="cookies">This site uses cookies for UX research purposes.
        <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies" class="cookie-link">More information</a>
      </p>
      <p class="copyright">© 2019 Collateral Oy. All rights reserved.</p>
    </div>
  </div>
</footer>
