<section id="team" class="content-section">
  <div class="container small-container">
    <h2 class="section-h2">Our team</h2>
    <div class="row team-members">
      <div class="col-md">
        <div class="center-horizontally-container">
          <img class="section-svg lärvi" src="/images/pyry.jpeg" alt="Pyry Palosaari" />
        </div>
        <div class="center-horizontally-container">
          <p class="team-name">Pyry Palosaari</p>
        </div>
        <div class="center-horizontally-container">
          <p class="team-role">CEO and Founder</p>
        </div>
        <div class="center-horizontally-container">
          <a class="team-contact" href="mailto:pyry.palosaari@gmail.com">pyry.palosaari@gmail.com</a>
        </div>
        <div class="center-horizontally-container mobile-margin-container">
          <a class="team-contact" href="tel:+358 40 834 8785">+358 40 834 8785</a>
        </div>
      </div>
    </div>
  </div>
</section>
