<section id="about" class="content-section">
  <div class="container small-container">
    <h2 class="section-h2">Who we are</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="center-horizontally-container">
          <img class="section-svg" src="/images/bulb.svg" alt="Design" />
        </div>
      </div>
      <div class="col-md-8 center-horizontally-container center-vertically-container">
        <p class="we-description mobile-margin-container">We are a software startup based in Tampere, Finland. Our mission is to create innovative software solutions to change the world for the better. </p>
      </div>
    </div>
  </div>
</section>
