<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>
  <meta property="og:title" content="{{ $.Site.Title }}" />

  {{ range ((where .Site.Pages "Section" "seo").ByParam "rank") }}
    {{ if .Params.description }}
      <meta property="og:url" content="https://collateral-solutions.netlify.com" />
      <meta name="description" content="{{ .Params.description }}">
      <meta property="og:description" content="{{ .Params.description }}">
      <meta property="og:image" content="/images/hero.jpg">

      <link rel="canonical" href="https://collateral-solutions.netlify.com"/>
    {{ end }}
  {{ end }}

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

  <!-- Hotjar Tracking Code for https://collateral-solutions.netlify.com -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1448958,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  <main>

    {{ block "main" . }}{{end}}

  </main>

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>
