.footer {
  width: 100%;
  margin-top: 10rem;
  background-color: $color-red;
  .footer-logo {
    height: 2rem;
    margin: 1.5rem;
  }
  .cookies, .cookie-link {
    text-align: center;
    margin-bottom: .5rem;
    font-size: 0.75rem;
    color: $color-white;
  }

  .cookie-link {
    text-decoration: underline;
  }

  .copyright {
    text-align: center;
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 0.75rem;
    color: $color-white;
  }
}

@media (max-width: 767px) {

}
