.navbar {
  background-color: $color-white;
  opacity: 0.95;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  .navbar-nav {
    .nav-item.nav-link {
      color: $color-red;
      font-weight: bold;
    }
  }
}
